#syslog-reader-filter-form .form-item-types,
#syslog-reader-filter-form .form-item-fields {
    float: left;
    margin-right: 80px !important;
}

#syslog-reader-filter-form .form-submit {
    margin-top: 100px;
}
